@font-face{
    font-family: "Lato";
    src: url(../fonts/Lato-Black.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Generales */
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

/* Fondos de las distintas secciones */
.section__content {
    background: url(../img/bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.section__content__paquetes {
    background: url(../img/bg_paquetes.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.section__content__cruceros{
    background: url(../img/bg_crucero.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.section__content__destinos{
    background: url(../img/bg_destino.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.section__content__contacto{
    background: url(../img/bg_contacto.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.section__content__register{
    background: url(../img/bg_register.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}


/* Pie de pagina */
footer {
    background-color: #b9b6b6;
    padding: 20px;
}
