@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato-Black.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Generales */
* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Lato";
}

/* Fondos de las distintas secciones */
.section__content {
    background: url(../img/bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border: 1px solid #000000;
}

.section__content__paquetes {
    background: url(../img/bg_paquetes.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.section__content__cruceros {
    background: url(../img/bg_crucero.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.section__content__destinos {
    background: url(../img/bg_destino.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.section__content__contacto {
    background: url(../img/bg_contacto.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.section__content__register {
    background: url(../img/bg_register.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

/* NAVBAR */
.navbar {
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 90%);
    z-index: 2;
}

.bg-nav {
    background-image: linear-gradient(to right, #1a5fb4, #b9b6b6, #81cfe3);
    max-height: 140px;
}

.nav__img {
    max-height: 7.5rem;
    max-width: 7.5rem;
}

.nav-item {
    font-size: 1.2rem;
    font-family: "Lato";
    font-weight: bold;
}

.nav-item a {
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}

.nav-item a:hover {
    color: #5ee347;
    color: #ffcc00;
    /* Un color más brillante para mayor contraste */
    border-bottom: 4px solid #ffcc00;

}

.nav__text {
    display: flex;
    flex-direction: column;
    justify-content: left;
    line-height: 10%;
    margin-top: 1rem;
    margin-right: 5rem;
}

.text-nav {
    font-size: 1.5rem;
    font-family: "Lato";
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
}

.text-prim {
    font-family: "Lato";
    color: #ffcc00;
    /* Un color más brillante para mayor contraste */
}

.text-second {
    font-size: 0.7rem;
    color: #ffffff;
}

.btn_admin {
    background: transparent;
    border: none;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.btn_login {
    min-height: 33px;
    min-width: 156px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    background: -webkit-gradient(linear, left top, right top, color-stop(-12.74%, rgba(221, 235, 27, 0.641)), color-stop(56.76%, rgba(106, 255, 141, 0.271)));
    background: linear-gradient(90deg, rgb(241, 245, 21) -12.74%, rgba(73, 255, 49, 0.691) 56.76%);
    border: 2px solid #acffd0;
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 500;
}

.btn_admin:hover {
    background: linear-gradient(90deg, rgba(23, 108, 39, 0.5) -12.74%, rgba(115, 195, 124, 0.526) 56.76%);
    border-radius: 0.5rem;
    color: #000;
}

.btn_login:hover {
    background: linear-gradient(90deg, rgba(23, 108, 39, 0.5) -12.74%, rgba(115, 195, 124, 0.526) 56.76%);
    border-radius: 0.5rem;
    color: #000;
}


/* Navbar Active */



/* Main Content */
.section__main {
    position: relative;
    top: -4vh;
    width: 100%;
    height: 84vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.section__main__info {
    margin-top: 7rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.0px;
}

.section__content__info,
.section__cruceros__info,
.section__contacto__info{
    margin-top: -3rem;
}

.section__destinos__info,
.section__contacto__info{
    margin-top: 2rem;
}

.info__textPrim {
    font-size: 3.5rem;
    font-weight: bold;
    color: #ffcc00;
    /* Un color más brillante para mayor contraste */
    text-shadow: 2px 3px 1px #000, -1px -1px 1px rgba(255, 255, 255, 0.2);
    /* Sombra doble para mayor efecto */
}


.info__textSecond {
    font-size: 2.5rem;
    font-weight: bold;
    color: #ffffff;
    /* Mantén el blanco para un buen contraste */
    text-shadow: 2px 3px 1px #000, -1px -1px 1px rgba(0, 0, 0, 0.5);
    /* Sombra doble para mayor profundidad */
}

.info__textTerc {
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffffff;
    /* Mantén el blanco para legibilidad */
    text-shadow: 2px 3px 1px #000, -1px -1px 1px rgba(0, 0, 0, 0.5);
    /* Sombra doble para mayor profundidad */
}

.section__main__btn,
.section__destinos__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    gap: 1rem;
}

.info__btn {
    background: #fbca1f;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    cursor: pointer;
}

.info__btn:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}

.info__btn a {
    color: black;
    text-decoration: none;
}
  

/* Pie de pagina */
footer {
    background-color: #b9b6b6;
    padding: 20px;
}